<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admiin App</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <h1>Admin Dashboard</h1>
    <div id="content" >
<p id="demo"></p>
    </div>
    <!-- <div>
 <h3><span>${i}</span>. ${users[i].username}</h3>
 <ul class="hide">
   <li><span>username</span>: <input id="inputBtn" type="text" value="${users[i].username}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>amountAvailable</span>: <input id="inputBtn"   type="text" value="${users[i].amountAvailable}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>amountInvested</span>: <input id="inputBtn"   type="text" value="${users[i].amountInvested}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>country</span>: <input id="inputBtn"   type="text" value="${users[i].country}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>Currency</span>: <input id="inputBtn"   type="text" value="${users[i].currency}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>email</span>: <input id="inputBtn"   type="text" value="${users[i].email}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>interestEarned</span>: <input id="inputBtn"   type="text" value="${users[i].interestEarned}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>percentage</span>: <input id="inputBtn"   type="text" value="${users[i].percentage}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>tmamountAvailable</span>: <input id="inputBtn"   type="text" value="${users[i].tmamountAvailable}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>tmamountAvailable</span>: <input id="inputBtn"   type="text" value="${users[i].tmamountAvailable}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>tmamountInvested</span>: <input id="inputBtn"   type="text" value="${users[i].tmamountInvested}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>tmpercentage</span>: <input id="inputBtn"   type="text" value="${users[i].tmpercentage}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
 <li><span>usdbalance</span>: <input id="inputBtn"   type="text" value="${users[i].usdbalance}"> <button class="cancelbtn">✖</button class="cancelbtn"></li>
</ul>
</div> -->
    <p id="username"> </p>
    <script type="module" src="./assets/js/adminconfig.js"></script>
</body>

</html>